{% extends "base.html" %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
{% endblock %}

{% block title %} - About{% endblock %}

{% block nav_menu_item_about %}active{% endblock %}
{% block nav_menu_item_link_about %}active{% endblock %}

{% block header_title %}
  About
{% endblock %}
{% block header_subtitle%}
  A little background.
{% endblock %}

{% block main_content %}
  <div class="container h-100">
    <div class="row-12 d-flex align-items-center h-100">
      <div class="col-12">
        <p class="drop-cap">
          Some info about me: I enjoy the natural sciences, geography (especially GIS),
          programming (especially in Python), web development, and grapic design. I have recently
          become intrigued by the <a class="text-monospace" target="_blank" href="http://flask.pocoo.org/">flask</a>
          microframework and this website is, in part, an exersice in developing my knowledge
          of <span class="text-monospace">flask</span>.
        </p>
        <p>
          I grew up in <a target="_blank" href="https://en.wikipedia.org/wiki/Ithaca,_New_York">Ithaca, NY</a>
          where as a high school student I became interested in Environmental Sciences which
          I went on to study in college at the <a target="_blank" href="https://www.fredonia.edu/"> State University of New York at Fredonia</a>.
          Through courses in GIS I became interested in Geography and spatial data analysis
          and after graduating I worked as a research tech at the <a target="_blank" href="http://lergp.com/">Cornell Lake Erie Research and Extension Lab</a>
          studying techniques for measuring and mapping Concord grape vine canopy density in local vineyards.
        </p>
        <p>
          I then moved out to the west coast and took another research tech position
          with the <a target="_blank" href="http://www.citrusresearch.org/">Citrus Research Board</a>
          in <a target="_blank" href="https://en.wikipedia.org/wiki/Riverside,_California">Riverside, CA</a>
          where I worked with a small team to develop a field rearing method for
          <a target="_blank" href="https://en.wikipedia.org/wiki/Tamarixia_radiata"><i>tamarixia radiata</i></a>&mdash;a
          parasitic wasp used a a biological control against the invasive
          <a target="_blank" href="https://en.wikipedia.org/wiki/Diaphorina_citri">Asian Citrus Psillid</a>
          that is currently threatening citrus crops in the United States.
        </p>
        <p>
          The following year I started a master's degree program in Geography and
          <a target="_blank" href="https://en.wikipedia.org/wiki/Geographic_information_system">Geographic Information Systems</a>
          at <a target="_blank" href="https://www.csun.edu/">California State University Northridge</a>
          where I further developed the GIS and programming skills I had initially
          learned during my time at SUNY Fredonia. Since then Python had replaced
          Visual Basic as the language of GIS and I immediately took to it. I also
          learned the basics of web devleopment and javascript through classes in Web
          GIS using <a class="text-monospace" target="_blank" href="https://leafletjs.com/">leaflet</a>. In
          addition to the technical skills I learned, I studied a wide range of topics
          including remote sensing techniques for mapping coral reefs, road network
          and traffic collision patterns, the urban heat island effect and techniques
          for mapping surface temperatures, and 3D mapping of landscapes using UAVs
          before writing my <a target="_blank" href="http://scholarworks.csun.edu/handle/10211.3/189150">thesis</a>
          on a method for mapping fire risk in Los Angeles County.
        </p>
        <p>
          I currently live in <a target="_blank" href="https://en.wikipedia.org/wiki/Santa_Barbara,_California">Santa Barbara, California</a>
          and work remotely as a Data Engineer / Scientist for <a target="_blank" href="http://cliquebrands.com/">Clique Brands</a>,
          a media, marketing, and consumer brands firm based in <a target="_blank" href="https://en.wikipedia.org/wiki/West_Hollywood,_California">West Hollywood, California</a>,
          building data pipelines and machine learning models that help automate reporting and analytics.
        </p>
        <p>
          I hope you like what you see.
        </p>
      </div>
    </div>
  </div>
{% endblock %}
