{% extends "base.html" %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
{% endblock %}

{% block nav_menu_item_about %}active{% endblock %}
{% block nav_menu_item_link_about %}active{% endblock %}

{% block main_content %}
  <p class="drop-cap">
    Some info about me. I enjoy programming, especially in python. I also
    enjoy web development, although I'm still learning, and have recently
    become intrigued by the <a target="_blank" href="http://flask.pocoo.org/">Flask</a>
    microframework (this is a Flask app even though it's currently static).
    I also have a background in Geographic Information Systems &mdash; which is
    what lead me to python and data engineering &mdash; and in cartography &mdash;
    which is where I learned about graphic design.
    <br>
    <br>
    I hope you like what you see.
  </p>
{% endblock %}
