<!DOCTYPE html>
<html class="h-100 min-vh-100" lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129158662-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-129158662-1');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Personal website of Jaime Hoffman">
    <meta name="kewords" content="Data Science, Data Engineering, GIS, Cartography, Maps">
    <meta name="author" content="Jaime Hoffman">
    <title>Jaime Hoffman{% block title %}{% endblock %}</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicons/favicon_jh_upper.png') }}">


    <!-- Load Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Then JQuery, Font Awesome, Popper, and Bootstrap plugins -->
    <script defer src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/516be5bd66.js" crossorigin="anonymous"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script defer src="{{ url_for('static', filename='js/base.js') }}" type="module"></script>

    <!-- Then the base CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">

    <!-- Finally any page specific CSS or plugins-->
    {% block head %}{% endblock %}
  </head>

  <body class="bg-dark d-flex flex-column h-100">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-0">
        <a class="navbar-brand text-uppercase font-italic font-weight-bold" href="{{ url_for('index') }}">jsth</a>
        <button class="navbar-toggler navbar-dark border-0" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation menu">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="nav-content">
          <ul class="navbar-nav align-items-center">
            <li class="nav-item {% block nav_menu_item_home %}{% endblock %}">
              <a class="nav-link {% block nav_menu_item_link_home %}{% endblock %}" href="{{ url_for('index') }}">
                <i class="fas fa-home"></i>
                <span class="nav-label">home</span>
              </a>
            </li>
            <li class="nav-item {% block nav_menu_item_about %}{% endblock %}">
              <a class="nav-link {% block nav_menu_item_link_about %}{% endblock %}" href="{{ url_for('about') }}">
                <i class="fas fa-info-circle"></i>
                <span class="nav-label">about</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" target="_blank" href="http://scholarworks.csun.edu/handle/10211.3/189150">
                <i class="fas fa-graduation-cap"></i>
                <span class="nav-label">thesis</span>
              </a>
            </li>
            <li class="nav-item {% block nav_menu_item_map %}{% endblock %}">
              <a class="nav-link {% block nav_menu_item_link_map %}{% endblock %}" href="{{ url_for('webmap') }}">
                <i class="fas fa-map"></i>
                <span class="nav-label">map</span>
              </a>
            </li>
            <li class="nav-item {% block nav_menu_item_photo_gallery %}{% endblock %}">
              <a class="nav-link {% block nav_menu_item_link_photo_gallery %}{% endblock %}" href="{{ url_for('photo_gallery') }}">
                <i class="fas fa-images"></i>
                <span class="nav-label">photo gallery</span>
              </a>
            </li>
            <li class="nav-item {% block nav_menu_item_contact %}{% endblock %}">
              <a class="nav-link {% block nav_menu_item_link_contact %}{% endblock %}" href="{{ url_for('contact') }}">
                <i class="fas fa-envelope"></i>
                <span class="nav-label">contact</span>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>

    <div id="js-alert-container" class="container-fluid">
      <div class="row flex-column">
      </div>
    </div>

    <div id="flask-alert-container" class="container-fluid">
      <div class="row flex-column">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              {% set index = messages.index((category, message)) %}
              {% set cat = 'primary' if category == 'message' else category %}
              <div id="flask-alert-{{ index }}" class="col d-flex justify-content-end bg-{{ cat }} w-100 flask-alert">
                <p class="text-center text-monospace text-white m-0 w-100">{{ message }}</p>
                <button type="button" class="close" data-dismiss="flask-alert-{{ index }}" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
      </div>
    </div>

    <header class="shadow mb-3 py-2">
      <div class="container header-container">
        <div class="row flex-column">
          <div class="col-auto">
            <h1 class="display-5 mb-0 font-italic text-uppercase header-title">
              {% block header_title %}{% endblock %}
            </h1>
          </div>
          <div class="col-12 col-md-10 col-lg-8 header-subtitle-container">
            <p class="mb-1 header-subtitle">
              {% block header_subtitle %}{% endblock %}
            </p>
          </div>
        </div>
      </div>
    </header>

    <main class="d-flex flex-grow-1">
      {% block main_content %}{% endblock %}
    </main>

    <footer>
      <div class="container-fluid py-2">
        <div class="row justify-content-center">
          <div class="col-xs-1">
            <a target="_blank" href="https://devcenter.heroku.com/">
              <small class="pl-2">Hosted by</small>
              <img src="{{ url_for('static', filename='img/heroku-logotype-horizontal-white-transparent.png') }}"></img>
            </a>
          </div>
        </div>
        <div class="row justify-content-center">
          <small>
            &copy;<script>document.write(new Date().getFullYear());</script> Jaime Hoffman
          </small>
        </div>
      </div>
    </footer>
  </body>
</html>
