<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!-- <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="initial-scale=1"> -->
    <!-- <meta name="viewport" content="minimum-scale=1"> -->

    <title>Jaime Hoffman{% block title %}{% endblock %}</title>

    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    {% block head %}{% endblock %}
  </head>

  <body>
    <div class="flex-wrapper">
      <header>
        <h1 class="header-name"><a href="{{ url_for('index') }}">jsth</a></h1>
        <nav>
          <ul class="nav-menu">
            <li class="nav-menu-item {% block nav_menu_item_contact %}{% endblock %}">
              <a class="link {% block nav_menu_item_link_contact %}{% endblock %}" href="{{ url_for('contact') }}">contact</a>
            </li>
            <li class="nav-menu-item {% block nav_menu_item_gallery %}{% endblock %}">
              <a class="link {% block nav_menu_item_link_gallery %}{% endblock %}" href="{{ url_for('gallery') }}">gallery</a>
            </li>
            <li class="nav-menu-item {% block nav_menu_item_map %}{% endblock %}">
              <a class="link {% block nav_menu_item_link_map %}{% endblock %}" href="{{ url_for('map') }}">map</a>
            </li>
            <li class="nav-menu-item {% block nav_menu_item_about %}{% endblock %}">
              <a class="link {% block nav_menu_item_link_about %}{% endblock %}" href="{{ url_for('about') }}">about</a>
            </li>
            <li class="nav-menu-item {% block nav_menu_item_home %}{% endblock %}">
              <a class="link {% block nav_menu_item_link_home %}{% endblock %}" href="{{ url_for('index') }}">home</a>
            </li>
          </ul>
        </nav>
      </header>

      <div class="main-content">
        {% block main_content %}{% endblock %}
      </div>

      <footer>
        <ul>
          <li class="footer-item"><span>&copy; 2018 Jaime Hoffman</span></li>
        </ul>
      </footer>
    </div>
  </body>
</html>
