<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129158662-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-129158662-1');
    </script>

    <meta charset="utf-8">
    <title>Jaime Hoffman{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/516be5bd66.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">

    {% block head %}{% endblock %}
  </head>

  <body class="bg-dark">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="{{ url_for('index') }}">jsth</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation menu">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="nav-content">
        <ul class="navbar-nav align-items-center">
          <li class="nav-item {% block nav_menu_item_home %}{% endblock %}">
            <a class="nav-link {% block nav_menu_item_link_home %}{% endblock %}" href="{{ url_for('index') }}">
              <i class="fas fa-home"></i>
              <span class="nav-label">home</span>
            </a>
          </li>
          <li class="nav-item {% block nav_menu_item_about %}{% endblock %}">
            <a class="nav-link {% block nav_menu_item_link_about %}{% endblock %}" href="{{ url_for('about') }}">
              <i class="fas fa-info-circle"></i>
              <span class="nav-label">about</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" target="_blank" href="http://scholarworks.csun.edu/handle/10211.3/189150">
              <i class="fas fa-graduation-cap"></i>
              <span class="nav-label">thesis</span>
            </a>
          </li>
          <!--<li class="nav-item {% block nav_menu_item_map %}{% endblock %}">
            <a class="nav-link {% block nav_menu_item_link_map %}{% endblock %}" href="{{ url_for('map') }}">
              <i class="fas fa-map"></i>
              <span class="nav-label">map</span>
            </a>
          </li>
          <li class="nav-item {% block nav_menu_item_gallery %}{% endblock %}">
            <a class="nav-link {% block nav_menu_item_link_gallery %}{% endblock %}" href="{{ url_for('gallery') }}">
              <i class="fas fa-images"></i>
              <span class="nav-label">gallery</span>
            </a>
          </li>-->
          <li class="nav-item {% block nav_menu_item_contact %}{% endblock %}">
            <a class="nav-link {% block nav_menu_item_link_contact %}{% endblock %}" href="{{ url_for('contact') }}">
              <i class="fas fa-envelope"></i>
              <span class="nav-label">contact</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <header>
      {% block header_content %}{% endblock %}
    </header>

    <main>
      {% block main_content %}{% endblock %}
    </main>

    <footer>
      <div class="container-fluid">
        <div class="row justify-content-center aling-items-center">
          <div class="col-xs-1">
            <a target="_blank" href="https://devcenter.heroku.com/">
              <small class="pl-2">Hosted by</small>
              <img src="{{ url_for('static', filename='img/heroku-logotype-horizontal-white-transparent.png') }}"></img>
            </a>
          </div>
        </div>
        <div class="row justify-content-center">
          <small>&copy; 2019 Jaime Hoffman</small>
        </div>
      </div>

      <!-- JQuery, Popper.js, Bootstrap, and leaflet plugins -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

      {% block footer_scripts %}{% endblock %}
    </footer>
  </body>
</html>
