{% extends "base.html" %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
{% endblock %}

{% block nav_menu_item_contact %}active{% endblock %}
{% block nav_menu_item_link_contact %}active{% endblock %}

{% block main_content %}
  <span class="email">jsthoffman90@gmail.com</span>
{% endblock %}
