@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Tangerine:400');

/* #################################### */
/* ### Responsive header font sizes ### */
/* #################################### */
@media (min-width: 0px) {
  .header-title {font-size: 1.5em;}
  .header-subtitle {font-size: 0.8em;}
}

@media (min-width: 576px) {
  .header-title {font-size: 2em;}
  .header-subtitle {font-size: .9em;}
}

@media (min-width: 768px) {
  .header-title {font-size: 2.5em;}
  .header-subtitle {font-size: 1em;}
}

/* ############################# */
/* ### Base template styling ### */
/* ############################# */
body {
  color: gainsboro;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: lightsteelblue;
}

a:hover {
  color: lightsteelblue;
}

.navbar-brand {
  color: gainsboro !important;
  text-shadow: 0.1em 0.1em 0.1em #292E33;
}

.nav-item a {
  text-transform: capitalize;
}

header {
  background-color: #414852;
}

footer a {
  color: gainsboro;
}

footer a:hover {
  color: gainsboro;
  text-decoration: none;
}

footer a img {
  height: 2em;
}

/* ######################## */
/* ### Homepage styling ### */
/* ######################## */
.header-title {
  padding-bottom: 0.2em;
}

.header-title span {
  color: gainsboro;
}

/* Homepage gallery styling */
.carousel {
  min-height: 65vh;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev,
.carousel-item-right,
.carousel-item-left {
  display: flex;
  justify-content: center;
  align-self: center;
}

.carousel-item a img {
  max-height: 60vh;
  max-width: 75vw;
  width: auto;
  margin-bottom: 0 !important;
}

/* ########################## */
/* ### About page styling ### */
/* ########################## */
.drop-cap:first-child:first-letter {
  float: left;
  font-size: 300%;
  font-weight: bold;
  padding: 0.1em 0.1em 0.1em 0;
  line-height: 0.8em;
}

/* ######################## */
/* ### Map page styling ### */
/* ######################## */
.leaflet-control-locate a,
.leaflet-control-locate.requesting a {
    padding: 0;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
    background-color: #343a40;
}

.trail-popup p,
.leaflet-popup-content-wrapper p,
.leaflet-popup-close-button {
    color: gainsboro;
}

/* ############################# */
/* ### Photo gallery styling ### */
/* ############################# */
.gallery-image {
  border-color: gainsboro !important;
  border-width: 0.4em !important;
}

/* ############################ */
/* ### Contact page styling ### */
/* ############################ */
a.contact-link {
  color: gainsboro;
}

a.contact-link:hover {
  color: gainsboro;
  text-decoration: underline;
}
