footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  color: #CF6766;
}

footer ul {
  list-style-type: none;
}

.footer-item {
  display: inline;
  margin: 2em;
  font-size: 0.8em;
  text-transform: uppercase;
}
