.carousel {
    min-height: 65vh;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev,
.carousel-item-right,
.carousel-item-left {
    display: flex;
    justify-content: center;
    align-self: center;
}

.carousel-item a img {
    max-height: 60vh;
    max-width: 75vw;
    width: auto;
    margin-bottom: 0 !important;
}
