.header-title {
  color: #343a40;
  font-weight: bold;
  text-align: center;
}

.header-title span {
  text-shadow: 0.1em 0.1em 0.05em #343a40;
}

.header-subtitle-container {
  align-self: center;
  text-align: center;
}
